<style>
    .el-upload__input {
        visibility: hidden;
    }
    .upload-demo .el-upload--picture {
        width: 100%;
    }
    .upload-demo .el-button {
        float: left;
    }

    .w-e-toolbar {
        overflow: -webkit-paged-x;
    }
</style>
<div id="app">
    <el-row :gutter="10">
        <el-form
            :rules="rules"
            ref="dataForm"
            :model="temp"
            label-position="left"
            label-width="100px"
            style="max-width: 600px; width: 90vw; margin: 50px auto;"
        >
            <el-form-item label="标题" prop="title">
                <el-input v-model="temp.title"></el-input>
            </el-form-item>
            <el-form-item label="地址" prop="address">
                <el-input
                    v-model="temp.address"
                    id="customer_address"
                ></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input v-model="temp.phone"></el-input>
            </el-form-item>
            <el-form-item label="微信">
                <el-input v-model="temp.wechat"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="temp.email"></el-input>
            </el-form-item>

            <!--
                <el-form-item :label="$t('table.category')">
                    <el-select class="filter-item" v-model="temp.category" placeholder="Please select">
                        <el-option v-for="item in category_list" :key="item.key" :label="$t('category.'+item.key)" :value="item.key">

                        </el-option>
                    </el-select>
                </el-form-item>
            -->

            <el-form-item label="详情" id="post-content">
                <textarea class="editor" v-model="temp.content"></textarea>
            </el-form-item>

            <el-upload
                class="upload-demo"
                action="/index/ajax/upload"
                accept="image/*"
                multiple
                :on-preview="handlePreview"
                :on-success="handleUpload"
                :on-remove="handleRemove"
                :file-list="fileList2"
                list-type="picture"
            >
                <el-button size="small" type="primary">上传图片</el-button>
                <div slot="tip" class="el-upload__tip"></div>
            </el-upload>
            
            <br />
            <el-row>
                <el-button @click="location.href='/'">返回</el-button>
                <el-button type="primary"  :loading="loading" @click="createData">提交</el-button>
            </el-row>
        </el-form>
    </el-row>
</div>
<script>
    function initAutocomplete() {
        var cityBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(49.006663, -123.30771),
            new google.maps.LatLng(49.395186, -122.187598)
        );

        var input = document.getElementById("customer_address");
        var options = {
            bounds: cityBounds,
            componentRestrictions: { country: "ca" }
        };

        var searchBox = new google.maps.places.Autocomplete(input, options);

        // [START region_getplaces]
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        google.maps.event.addListener(searchBox, "place_changed", () => {
            var place = searchBox.getPlace();
            console.log(place);
            app.temp.address = place.formatted_address;
            app.temp.lat = place.geometry.location.lat();
            app.temp.lng = place.geometry.location.lng();
            app.temp.city_name = place.vicinity;
        });
    }

    var app = new Vue({
        el: "#app",
        data() {
            return {
                dialogFormVisible: true,
                fileList2: [],
                loading: false,
                temp: {
                    id: "{$post.id}",
                    title: "{$post.title}",
                    address: "{$post.address}",
                    content: `{$post.content}`,
                    images: [],
                    phone: "{$post.phone}",
                    lat: "{$post.lat}",
                    lng: "{$post.lng}",
                    city_name: "{$post.city_name}",
                    wechat:"{$post.wechat}",
                    email:"{$post.email}"
                },
                rules: {
                    title: [
                        {
                            required: true,
                            message: "请填写标题",
                            trigger: "change"
                        }
                    ]
                    // address: [
                    //     {
                    //         required: true,
                    //         message: "地址是必须的",
                    //         trigger: "blur"
                    //     }
                    // ]
                }
            };
        },
        mounted() {
            if ("{$post.post_images}"){
                this.temp.images = "{$post.post_images}".split(',');
                let i = 0;
                for (let image of this.temp.images){
                    
                    this.fileList2.push({"status":"success","name":"微信截图_20181127134439.png","size":5643,"percentage":100,"uid":1543440430138+(i++),"raw":{"uid":1543440430138+(i++)},"url":image,"response":{"code":1,"msg":"Upload successful","time":"1543440430","data":{"url":image}}});
                }
            }

            console.log("{$post.post_images}".split(','));
            document.getElementsByClassName('note-editable').innerHtml=`{$post.content}`
        },
        methods: {
            handleUpload(res, file, fileList) {
                alert(JSON.stringify(res));
                console.log(file);
                if (res.code) {
                    this.temp.images.push(file.response.data.url);
                }
            },
            handleRemove(file, fileList) {
                var index = this.temp.images.indexOf(file.response.data.url);
                this.temp.images.splice(index, 1);
            },
            handlePreview(file) {
                console.log(file);
            },
            createData() {
                this.loading = true;
                this.$refs["dataForm"].validate(valid => {
                    if (valid) {
                        axios
                            .post(
                                "/index/index/edit?id={:I('id')}",
                                JSON.stringify(this.temp)
                            )
                            .then(response => {
                                if (response.data.success){
                                    location.href=`/index/index/detail?id=${response.data.result.id}`
                                    this.loading = false;
                                }else{
                                    this.loading = false;
                                    alert("修改失败，请稍后重试！");
                                }
                            });
                    }else{
                        this.loading = false;
                    }
                });
            }
        }
    });
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaG8JNWl68rUI9O-5ngoDZlyVh9Qa8yjk&libraries=places&language=en&callback=initAutocomplete"
    async
    defer
></script>
