
<link rel="stylesheet" href="https://unpkg.com/buijs/lib/latest/bui.css" />
<!-- bui.js 依赖于Zepto或jQuery -->
<script src="https://unpkg.com/buijs/lib/zepto.js"></script>
<script src="https://unpkg.com/buijs/lib/latest/bui.js"></script>
<style>
    .el-col-24 {
        margin: 3px 0px;
    }
    .el-select {
        width: 100%;
    }
</style>
<div id="app" style="margin-top:300px;">
        
    <el-row :gutter="10">
        <el-col :xs="2" :sm="6"> &nbsp; </el-col>
        <el-col :xs="20" :sm="6">
            <el-input placeholder="请输入关键字" v-model="keyword" clearable>
            </el-input>
        </el-col>
        <el-col :xs="2" :sm="0" style="height:40px;">
            <span>&nbsp;</span>
        </el-col>
        <el-col :xs="2" :sm="0">
            <span style="height:40px;">&nbsp;</span>
        </el-col>
        <el-col :xs="20" :sm="4">
            <el-select
                v-model="city_id"
                multiple
                filterable
                remote
                reserve-keyword
                placeholder="请选择城市"
                :remote-method="remoteMethod"
                :loading="loading"
            >
                <el-option
                    v-for="item in options4"
                    :key="item.id"
                    :label="item.city_name"
                    :value="item.id"
                >
                </el-option>
            </el-select>
        </el-col>
        <el-col :xs="2" :sm="0" style="height:40px;">
            <span>&nbsp;</span>
        </el-col>
        <el-col :xs="2" :sm="0" style="height:40px;">
            <span>&nbsp;</span>
        </el-col>
        <el-col :xs="20" :sm="2" style="text-align: center">
            <el-button
                type="primary"
                style="max-width:100%;width:300px;"
                icon="el-icon-search"
                @click="search"
                >搜索</el-button
            >
        </el-col>
        <el-col :xs="2" :sm="6" style="height:40px;">
            <span>&nbsp;</span>
        </el-col>
    </el-row>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data() {
            return {
                options4: [],
                keyword: "",
                city_id: [],
                list: [],
                loading: false,
                states: [
                    "Alabama",
                    "Alaska",
                    "Arizona",
                    "Arkansas",
                    "California",
                    "Colorado",
                    "Connecticut",
                    "Delaware",
                    "Florida",
                    "Georgia",
                    "Hawaii",
                    "Idaho",
                    "Illinois",
                    "Indiana",
                    "Iowa",
                    "Kansas",
                    "Kentucky",
                    "Louisiana",
                    "Maine",
                    "Maryland",
                    "Massachusetts",
                    "Michigan",
                    "Minnesota",
                    "Mississippi",
                    "Missouri",
                    "Montana",
                    "Nebraska",
                    "Nevada",
                    "New Hampshire",
                    "New Jersey",
                    "New Mexico",
                    "New York",
                    "North Carolina",
                    "North Dakota",
                    "Ohio",
                    "Oklahoma",
                    "Oregon",
                    "Pennsylvania",
                    "Rhode Island",
                    "South Carolina",
                    "South Dakota",
                    "Tennessee",
                    "Texas",
                    "Utah",
                    "Vermont",
                    "Virginia",
                    "Washington",
                    "West Virginia",
                    "Wisconsin",
                    "Wyoming"
                ]
            };
        },
        mounted() {
            this.list = this.states.map(item => {
                return { value: item, label: item };
            });
        },
        methods: {
            search(){
                location.href=`/index/index/search_result?keyword=${this.keyword}&city_id=${this.city_id.join(',')}`
            },
            remoteMethod(query) {
                if (query !== "") {
                    this.loading = true;

                  axios
                    .get('/index/index/getCities?city_name=' + query)
                    .then((response) => {
                        this.loading = false;
                        this.options4 = response.data;
                    })
                } else {
                    this.options4 = [];
                }
            }
        }
    });
</script>
